@import url('./element-plus/index.css');
@import url('./admin.css');
/* 通用css */
* {
  box-sizing: border-box;
  cursor: url(/normal.png) 1 1, auto !important;
}
body {
  color: var(--fontColor);
  /* font-family: zjh, serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', sans-serif;
  font-weight: 700;
  word-break: break-word;
}
a {
  text-decoration: none;
}
.mr10 {
  margin-right: 10px;
}
/* @font-face {
  font-family: zjh;
  src: url(https://sourcebucket.s3.bitiful.net/fonts/甜甜圈海报字体.woff2);
  font-display: swap;
} */
/* 图片 */
.background-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
.background-image-changeBg {
  background-size: cover !important;
  background-attachment: local !important;
  background-position: center !important;
  width: 100% !important;
  height: 100% !important;
  background-repeat: no-repeat !important;
}
.background-image-error {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
.custom-el-image {
  width: 100%;
  height: 100%;
}
.custom-el-image .image-slot {
  width: 100%;
  height: 100%;
}
.user-avatar {
  transition: all 0.3s ease;
  user-select: none;
}
.user-avatar:hover {
  transform: rotate(360deg);
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: var(--toolbarBackground);
}
::-webkit-scrollbar-thumb {
  background-color: var(--red);
  background-image: linear-gradient(45deg, var(--whiteMask) 25%, transparent 25%, transparent 50%, var(--whiteMask) 50%, var(--whiteMask) 75%, transparent 75%, transparent);
  border-radius: 1em;
}
/* 选中样式 */
::selection {
  background: var(--green2);
  color: var(--black);
}
/* 居中 */
.myCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 两边 */
.myBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 两边均匀分布 */
.mySpaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.transformCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 阴影 */
.shadow-box-mini {
  box-shadow: 1px 1px 3px var(--mask);
}
.shadow-box {
  box-shadow: 0 1px 20px -6px var(--borderColor);
  transition: all 0.3s ease;
}
.shadow-box:hover {
  box-shadow: 0 5px 10px 5px var(--borderHoverColor);
}
.custom-my-dialog {
  border-radius: 14px;
  overflow: scroll;
  box-shadow: 0 14px 28px var(--mask), 0 10px 10px var(--miniMask);
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.markdown-body pre code {
  white-space: pre-line !important;
}
#live2d {
  width: 200px;
  height: 200px;
}
#waifu-tool {
  top: 0;

  span {
    height: 26px;

    svg {
      height: 20px;
    }
  }
}
@property --c1 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}
@property --c2 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}
@property --c3 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}
html {
  background: linear-gradient(to bottom, var(--c1) 33%, var(--c2) 66%, var(--c3) 100%);
  animation: spread 0.5s ease-in forwards;
  transition-property: --c1, --c2, --c3;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  min-height: 100vh;
}
.card-container.photoRef {
  background: linear-gradient(to bottom, var(--c1) 33%, var(--c2) 66%, var(--c3) 100%);
  animation: spread 0.5s ease-in forwards;
  transition-property: --c1, --c2, --c3;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
